mixin review-photos
    .review-photos(class = attributes.class)
        a(href="img/additional-big.jpg" data-lightbox='group1').review-photos__item
            img(src="img/additional.jpg", alt="additional")
        a(href="img/additional2-big.jpg" data-lightbox='group1').review-photos__item
            img(src="img/additional2.jpg", alt="additional2")