mixin reviews-list
    .reviews-list(class = attributes.class)
        .reviews-list__head
            .reviews-list__photo Фото
            .reviews-list__name Наименование товара
            .reviews-list__content Ваши отзывы
            .reviews-list__status Статус отзыва
            .reviews-list__action Действия
            
        block