.review-rating {
    font-size: 1.2rem;
    line-height: 2rem;

    &__stars {
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 0.75rem;
        }
    }

    &__word {
        display: inline-block;
        margin-right: 1.4rem;
    }
}