html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $color-black;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

*,::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.content{
    margin-top: 7.1rem;
    margin-bottom: 3rem;

    @include sm-block() {
        margin-top: 9.1rem;
    }

    @include md-block() {
        margin-top: 11.1rem;
    }
    
    @include lg-block() {
        margin-top: 13.1rem;
    }
}

.container {
    @include container();
    @include sm(max-width, 57.5rem);
    @include md(max-width, 69rem);
    @include lg(max-width, 97rem);
}
